.form-matricula {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em auto;
  width: 900px;
}

.form-matricula h1 {
  text-transform: uppercase;
}

.form-matricula input {
  width: 100%;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  padding-left: 7px;
  font-size: 14px;
  font-weight: 600;
}

.form-matricula label {
  margin: 10px;
  font-weight: 600;
}

.table-form {
  width: 100%;
}

.table-aluno {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 10px;
  margin-top: 25px;
  width: 100%;
}

.table-aluno td,
.table-aluno th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-aluno tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-aluno tr:hover {
  background-color: #ddd;
}

.table-aluno th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #be3144;
  color: white;
}

.matricula-span-aviso {
  width: 100%;
}
.matricula-span-aviso span {
  margin-left: 10px;
  color: orangered;
  text-align: left;
}

@media (max-width: 840px) {
  .form-matricula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em auto;
    width: 80%;
  }

  .table-form {
    width: 100%;
  }

  .form-matricula h1 {
    font-size: 1.8rem;
  }
}
