ul {
  list-style: none;
}
li {
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #be3144;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.menu h1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 1.7rem;
  margin-left: 24px;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  font-weight: bold;
}

.nav-list a {
  font-size: 1.2rem;
  padding: 2.1rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in;
}

.nav-list a:hover {
  background-color: #45567d;
}

@media (max-width: 920px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-list a:hover {
    background-color: transparent;
  }
  .nav-list {
    margin: 1.3rem 1rem;
  }
}
